<div class="section container">

    <h5 text-align="center">Registro de Encomiendas</h5>
   <div class="row">
       <form class="col s12">
  
        <div class="row card-panel">
  
            <div class="input-field col s6">                
                    <input id="origen" type="text" class="validate">
                    <label for="origen">origen</label>                   
                  </div>    
                  
                  <div class="input-field col s6">
                    <label for="destino">destino</label>   
                    <input type="text"  id="destino" class="validate">
                </div>
      
                
                  <div class="input-field col s6">
                    <label for="fecha"></label> 
                    <input type="date"  id="fecha" class="validate">
                </div>
            
           
            
            <div class="input-field col s6">
                <label for="hora"></label> 
                <input type="time"  id="hora" class="validate">
            </div>

            <div class="input-field col s6">
                <label for="encomienda">encomienda</label> 
                <input type="text"  id="encomienda" class="validate">
            </div>

            <div class="input-field col s6">
                <label for="valor">valor</label> 
                <input type="number"  id="valor" class="validate">
            </div>
  
  
            
           
  
          <div class="input-field col s12">
                
            <button class="btn"  type="submit" id="">Registrar</button>
            <button class="btn"  type="submit" id="">Cancelar</button>
        </div>
  
  
           
        </div>
  
       
      
  
  
  
       </form>
  
   </div>
  
  </div>

