<div class="section container">

    <h5 class="center-align">Registro Servicios</h5>
   <div class="row">
       <form class="col s12">
  
        <div class="row card-panel">
  
           
          <div class="input-field col s6">
            <select class="browser-default">
              <option value="" disabled selected>Origen</option>
              <option value="1">Juana pedroza 1</option>
              <option value="2">Matilde lina forero 2</option>
             
            </select>
          
          
          </div>
                  
          <div class="input-field col s6">
            <select class="browser-default">
              <option value="" disabled selected>Destino</option>
              <option value="1">Maria galvan</option>
              <option value="2">JOse Sotelo 2</option>
             
            </select>         
          
          </div>
                         
                  <div class="input-field col s6">
                    <label for="fecha"></label> 
                    <input type="date"  id="fecha" class="validate">
                </div>
            
           
            
            <div class="input-field col s6">
                <label for="hora"></label> 
                <input type="time"  id="hora" class="validate">
            </div>

            <div class="input-field col s6">
              <select class="browser-default">
                <option value="" disabled selected>Encomienda</option>
                <option value="1">Zapatos Nike 1</option>
                <option value="2">Camisetas polo</option>
               
              </select>
            </div>
          

            <div class="input-field col s6">
                <label for="valor">valor</label> 
                <input type="number"  id="valor" class="validate">
            </div>
  
  
            
           
  
          <div class="input-field col s12">                
            <button class="btn"  type="submit" id="">Registrar</button>
            <button class="btn"  type="submit" id="">Cancelar</button>
        </div>
  
  
           
        </div>
  
       
      
  
  
  
       </form>
  
   </div>
  
  </div>

  <script>

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
      });
    
      // Or with jQuery
    
      $(document).ready(function(){
        $('select').formSelect();
      });
    
    </script>