<div class="container">

    <h4 class="center-align">Encomienda Registradas</h4>
    <br>
  
    <a routerLink="/encomiendas/create" class="btn">Registrar Encomiendas</a>
    <br><br><br>
  
    <table class="table responsive">
      <thead>
        <tr>
            <th>Descripcion</th>
            <th>Peso</th>
            <th>Tipo</th>
            <th>Presentacion</th>
            <th>Acciones</th>
        </tr>
      </thead>
   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.descripcion}}</td>
          <td>{{p.peso}}</td>
          <td>{{p.tipo}}</td>
          <td>{{p.presentacion}}</td>
          <td>
            <a routerLink="/encomiendas/edit/{{p.id}}" class="btn">Editar</a>
            <button class="btn red" (click)="delete(p.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  
