<div class="section container">

  
 
  <div class="row">
     <form class="col s12">
      <h5 text-align="center">Registro de Usuario</h5>

      <div class="row card-panel">

          <div class="input-field col s6">                
                  <input id="nombre_usuario" type="text" class="validate">
                  <label for="nombre_usuario">Nombre usuario</label>                   
                </div>    
                
                <div class="input-field col s6">
                  <label for="nombre">Ingresar apellidos</label>   
                  <input type="text"  id="apellidos" class="validate">
              </div>
    
              
                <div class="input-field col s6">
                  <label for="nombre">Ingresar email</label> 
                  <input type="text"  id="email" class="validate">
              </div>
          
         
          
          <div class="input-field col s6">
              <label for="nombre">Ingresar pais</label> 
              <input type="text"  id="pais" class="validate">
          </div>

          <div class="input-field col s6">
            <label for="nombre">Password</label> 
            <input type="text"  id="pais" class="validate">
        </div>
        
         

        <div class="input-field col s12">
              
          <button class="btn"  type="submit" id="">Registrar</button>
          <button class="btn"  type="submit" id="">Cancelar</button>
      </div>


         
      </div>

     
    



     </form>

 </div>

</div>