
<div  class="navbar-fixed gradi">

<nav>
    <div class="nav-wrapper  ">  
       <!-- Logo sistema  -->    
       <a routerLink="/index"><img src="assets/images/logo2.png" class="img-responsive"  width="200" alt="image"> </a>
           
      <ul id="nav-mobile" class="right hide-on-med-and-down">

      <!-- Menu sistema -->
      <li *ngIf="activeSession" class="link"><a routerLink="/admin/get" >Usuarios</a></li>
      <li *ngIf="activeSession"><a routerLink="/clientes/get">Clientes</a>        
      <li *ngIf="activeSession"><a routerLink="/encomiendas/get">Encomiendas</a></li>
      <li *ngIf="activeSession"><a routerLink="/servicios/get">Servicios</a></li>        
      <!-- Sesion -->
      <li *ngIf="!activeSession"><a routerLink="/seguridad/login">Login</a></li>
      <li *ngIf="!activeSession"><a routerLink="/admin/create">Registrarse</a></li>
      <li  *ngIf="activeSession" ><a routerLink="/seguridad/logout" >Cerrar Sesion</a></li>
       
       
      </ul>
    </div>
  </nav>

 

</div>



