<div class="section container">

    <h5 class="center-align">Registro de Encomiendas</h5>
   <div class="row">
       <form class="col s12">
  
        <div class="row card-panel">
  
            <div class="input-field col s6">                
                    <input id="descripcion" type="text" class="validate">
                    <label for="descripcion">Descripcion</label>                   
                  </div>    
                  
                  <div class="input-field col s6">
                    <label for="peso">peso</label>   
                    <input type="text"  id="peso" class="validate">
                </div>
      
                
                  <div class="input-field col s6">
                    <label for="tipo">Itipo</label> 
                    <input type="text"  id="tipo" class="validate">
                </div>
            
           
            
            <div class="input-field col s6">
                <label for="presentacion">presentacion</label> 
                <input type="text"  id="presentacion" class="validate">
            </div>
  
            
           
  
          <div class="input-field col s12">
                
            <button class="btn"  type="submit" id="">Registrar</button>
            <button class="btn"  type="submit" id="">Cancelar</button>
        </div>
  
  
           
        </div>
  
       
      
  
  
  
       </form>
  
   </div>
  
  </div>
