<div class="container">

    <h4 class="center-align">Tabla de usuarios registrados</h4>
   
  
    <a routerLink="/admin/create" class="btn green darken-4">Registrar usuario</a>

    <br><br>
    <table class="table responsive">
      <thead class="grey lighten-4">
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
      </thead>
   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.nombre}}</td>
          <td>{{p.apellidos}}</td>
          <td>{{p.correo}}</td>
          <td>{{p.telefono}}</td>
          <td>
            <a routerLink="/admin/edit/{{p.id}}" class="btn yellow accent-3"><i class="material-icons">edit</i></a>
            <button class="btn  red accent-4" (click)="delete(p.id)"><i class="material-icons">delete</i></button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  