<div class="container">

    <h4 text-align="center" >Servicios registrados</h4>
    <br>
  
    <a routerLink="/servicios/create" class="btn btn green darken-4">Registrar Servicio</a>

    <br>
    <br>
    <table class="table responsive ">
      <thead class="grey lighten-4">
        <tr>
            <th>Origen</th>
            <th>Destino</th>
            <th>fecha</th>
            <th>hora</th>
            <th>encomienda</th>
            <th>valor</th>
            <th>Acciones</th>
        </tr>
      </thead>
   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.origen}}</td>
          <td>{{p.destino}}</td>
          <td>{{p.fecha}}</td>
          <td>{{p.hora}}</td>
          <td>{{p.encomienda}}</td>
          <td>{{p.valor}}</td>
          
          <td>
            <a routerLink="/servicios/edit/{{p.id}}" class="btn yellow accent-3"><i class="material-icons">edit</i></a>
            <button class="btn red accent-4" (click)="delete(p.id)"><i class="material-icons">delete</i></button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

   
